@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-website{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0 auto;
    padding: 0px;
}
p{
    color: #FFFFFF;
    opacity: 60%;
}
.nav-item{
    display: flex;
    justify-content: space-around;  
    margin: 0 auto;
    width: 1600px;
    height: 92px;
    border: 1px solid rebeccapurple;
    background-color: rgba(26, 11, 46, 1);
}

.nav-logo{
    margin: 30px 314px 30px 200px ;
    color: #FFFFFF;
    width: 219px;
    height: 32px;
}

.list-item{
    display: flex;
    gap: 32px;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style-type: none;
}
.list-item a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    margin: 24px 200px 24px 0px;
    height: 44px;
    width: 135px;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    padding: 0 auto;
    cursor: pointer;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}


#banner{
    background-image: url(images/assets/hero-bg.png);
    position: 92px 0px;
    width: 1600px;
    height: 760px;
}

.banner-container{
    width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;
    }


.img-01{
    margin-left: 100px 100px;
    margin-top: 100px ;
}
.img-micro{
    margin-top: -250px;
    margin-bottom: 100px;
}

.text{
justify-content: center;
text-align: center;
align-items: center;
color: #FFFFFF;
}

.hero-heading-text{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-para-text{
    font-size: 16px;
    font-weight: 400;
    color: #a7a2a2;
    margin-top: 8px;
    margin-bottom: 24px;
}

.btn-primary{
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 44px;
    width: 201px;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF; 
    border: none;
    gap: 12px;
    padding: 0 auto;
    cursor: pointer;
    background-image: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}    

.btn-secondary{
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 44px;
    width: 201px;
    background: none;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: 600;
    color: #00ff88; 
    gap: 12px;
    border: 2px solid #00ff88;
    padding: 0 auto;
    cursor: pointer;
}

.about-mains{
    background-color: rgba(26, 11, 46, 1);
    width: 1600px;
}
.about-heading{
    padding-top: 50px 200px 36px 200px;
    color:#FFFFFF;
    font-size:48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.about-text p{
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #a7a2a2;
}

hr{
    width: 1200px;
    height: 0px;
    margin-top: 80px;
    margin-bottom: 80px;
    opacity: 0.1;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 120px;
    gap: 60px;
}

.card img{
   width: 240px;
   height: 59px; 
}

.about-card-para{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    width: 240px;
    height: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    color: #a7a2a2;
    opacity: 80%;
}

.choose-part{
    background-color: #230E3D;
    width: 1600px;
}

.choose-box{
    padding: 120px 200px;
}

.choose-heading{
    font-size: 48px;
    font-weight: 800;
    width: 1200px;
    height: 59px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.choose-main-part{
       flex-direction: column;
    /* background-color: #351165; */

}

.choose-01{
    padding: 108px 40px;
    width: 260px;
    height: 250px;
    border: 40px;
    margin-right: 870px;
    border-radius: 30px;
    background-color: #351165;
}

.choose-01 img{
    margin-bottom: 16px;
}
.choose-01 h5{
    color: aliceblue;
    width: 300px;
    height: 29px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.choose-01 p{
    color: #a7a2a2;
    font-size: 16px;
    line-height: 24px;
}
.choose-02{
    padding: 40px;
    width: 728px;
    height: 130px;
    margin-left: 410px;
    margin-top: -460px;
    background-color: #351165;
    border-radius: 30px;
}
.choose-02 img{
    margin-bottom: 16px;
}
.choose-02 h5{
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.choose-02 p{
    color: #a7a2a2;
    font-size: 16px;
    line-height: 24px;
}
.choose-03{
    margin-left: 410px;
    margin-top: 40px;
    width: 728px;
    height: 130px;
    padding: 40px;
    background-color: #351165;
    border-radius: 30px;
}
.choose-03 img{
    margin-bottom: 16px;
}
.choose-03 h5{
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.choose-03 p{
    color: #a7a2a2;
    font-size: 16px;
    line-height: 24px;
}
.choose-04{
    border: none;
    padding: 40px;
    margin-top: 50px;
    margin-right: 440px;
    width: 690px;
    height: 170px;
    margin-bottom: 120px;
    background-color: #351165;
    border-radius: 30px;
}
.choose-04 img{
    margin-bottom: 16px;
}
.choose-04 h5{
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.choose-04 p{
    color: #a7a2a2;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 40px;
}
.choose-05{
    border: none;
    padding: 40px;
    width: 320px;
    height: 170px;
    margin-left: 815px;
    margin-top: -365px;
    background-color: #351165;
    border-radius: 30px;
}
.choose-05 img{
    margin-bottom: 16px;
}
.choose-05 h5{
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.choose-05 p{
    color: #a7a2a2;
    font-size: 16px;
    line-height: 24px;
}

.container{
    background-color: #1A0B2E;
    width: 1600px;
    height: 1277px;
}

.featured-heading{
    color: #FFFFFF;
    padding-top: 120px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 48px;
    font-weight: 800;
}

.featured-card-main{
    display: flex;
    width: 1200px;
    gap: 30px;
    margin-top: 40px;
    
}
.featured-card{
       width: 380px;
       height: 440px;
       background-color: #351165;
       border-radius: 20px;
       
}
.youtube-link{
    width: 378px;
    height: 213px; 
    border-radius: 20px;   
    border: none;
    margin-bottom: 24px;
}

.featured-card-heading{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;   
}

.featured-p{
    color: #a7a2a2;
    opacity: 60%;
    margin-left: 24px;
    margin-bottom: 12px;
}
.clock{
    margin-left: 24px;
}
.clock-time{
    color: #00ff88;
    margin-top: -24px;
    margin-left: 50px;
    line-height: 24px;
    font-size: 16px;
}

.meet-the-host{
    width: 1200px;
}

.meet-heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
}

.meet-link{
    background-color: #351165;
    width: 1200px;
    height: 280px;
    display: flex;
    border-radius: 30px;
    margin-top: 40px;
}

.host-img{
    padding: 40px;
}
.meet-text{
    padding: 49px 40px 40px 0px ;
}
.meet-text h5{
    font-size: 32px;
    font-weight: bold;
    width: 896px;
    height: 39px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.ul-list{
    display: inline-flex;
    list-style-type: none;
    gap: 8px;
     margin-top: 16px;

}
.ul-list a{
    text-decoration: none;
    border: 1px solid #533C72;
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;  
}

footer{
    background-image: url(images/assets/footer-bg.png);
}
.footer-content{
    padding: 120px 120px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footer-logo{
    width: 410px;
    height: 60px;
    margin-bottom: 32px;
}

.footer-img{
    width: 544px;
    height: 24px;
    margin-bottom: 38px;

}

